
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
  <title>Bootstrap Example</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<header>
  <h1 class="d-flex justify-content-center">IB CEGOS</h1>
</header>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
  <a class="navbar-brand" href="#">Accueil</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
          <a class="nav-link" routerLink="/admin/users">Utilisateurs</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/trainings" href="#">Formations</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/admin/session">Sessions</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/themes" href="#">Thèmes</a>
      </li>
      </ul>
      <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
  </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="footer bg-dark text-white mt-4">
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <h3>Liens Utiles</h3>
              <ul>
                  <li><a href="#">Accueil</a></li>
                  <li><a href="/trainings">Formations</a></li>
                  <li><a href="/admin/session">Sessions</a></li>
                  <li><a href="/admin/users">Utilisateurs</a></li>
                  <li><a href="/themes">Themes</a></li>
                  <li><a href="/matters">Matières</a></li>
              </ul>
          </div>
          <div class="col-md-4">
              <h3>Contact</h3>
              <address>
                  179 rue de la republique<br>
                  Marseille, France<br>
                  Email: ibcegos@formation.com<br>
                  Téléphone: +33 1 25 26 84 56
              </address>
          </div>
          <div class="col-md-4">
              <h3>Suivez-nous</h3>
              <ul>
                  <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
                  <li><a href="#"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
              </ul>
          </div>
      </div>
      <hr>
      <p class="text-center">&copy; 2023 IB CEGOS Centre de Formation</p>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


