<div>
    <h1 class="d-flex justify-content-center">Suppression de l'utilisateur {{user?.nom}} {{user?.prenom}}</h1>
      <h5 class="d-flex justify-content-center">Nom : {{user?.nom}}</h5>
      <h5 class="d-flex justify-content-center">Prénom : {{user?.prenom}}</h5>
      <h5 class="d-flex justify-content-center">Date de naissance : {{user?.dateNaissance}}</h5>
      <h5 class="d-flex justify-content-center">Adresse : {{user?.adresse}}</h5>
      <h5 class="d-flex justify-content-center">Mail : {{user?.mail}}</h5>
      <h5 class="d-flex justify-content-center">Téléphone : {{user?.telephone}}</h5>
      <h5 class="d-flex justify-content-center">Statut : {{user?.statut}}</h5>
    <div class="d-flex justify-content-center">
      <a (click)="deleteUser(user)" class="btn btn-primary">Valider</a>
      <a (click)="goBack()" class="btn btn-warning">Retour</a>
    </div>
</div>
