<h1>Liste des Formations</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Durée (en jours)</th>
      <th scope="col">Nombre participants</th>
      <th scope="col">Prix</th>
      <th colspan="3" scope="col">Actions</th>
    </tr>
  </thead>
  <tbody >
    <tr *ngFor=" let training of trainings">
      <td class="text_image_side_by_side">{{training.nom}} 

        <span *ngIf="training.certifiante" data-bs-toggle="tooltip" data-bs-placement="top"
        data-bs-custom-class="custom-tooltip" data-bs-title="This top tooltip is themed via CSS variables.">
          <img src="./assets/images/certifiante.png" class="img_booleans">
        </span>
        <span *ngIf="training.prerequis">
          <img src="./assets/images/prerequis.png" class="img_booleans" >
        </span>
  
      </td>
      <td>{{training.duree}} ({{training.duree * 7}} heures)</td>
      <td>{{training.nbParticipants}}</td>
      <td>{{training.prix}}€</td>
      <td><button (click) = "handleGetTrainingId(training)" class="btn btn-primary">Plus d'informations</button></td>
      <td><button routerLink="/training-add" [queryParams]="{id: training.id }" class="btn btn-warning"><i class="bi bi-pen"></i></button></td>
      <td><button class="btn btn-danger" (click) = "handleDeleteTraining(training)" ><i class="bi bi-trash"></i></button></td>
    </tr>
  </tbody>
</table>
<div class="d-flex justify-content-center">
  <button routerLink="/training-add" class="btn btn-primary">Nouvelle formation</button>
</div>