
<p> From Value : {{addSession.value}}</p>
<br>
<p>Form Value: {{ addSession.status }}</p>

<h2>Ajouter une session</h2>

<form [formGroup]=" addSession" (ngSubmit)=" onSubmit()">
    
    <div>
        <label for="dateDebut"> date de début : </label>
        <input id="dateDebut" type="date" formControlName="dateDebut">
    </div>
    
    <div>
        <label for="dateFin">Date de fin: </label>
        <input id="city" type="date" formControlName="DateFin">
    </div>


    <div>
        <label for="idClassoom"> ID salle de cours </label>
        <select id="choixOption" name="choixOption">
            <option value="Salle1">Salle 1</option>
            <option value="Salle2">Salle 2</option>
            <option value="Salle3">Salle 3</option>
            <option value="Salle4">Salle 4</option>
        </select>
    </div>

</form>